<div>
    <div class="jumbotron">
        <h1><span class="fa fa-user"></span> Register</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form name="vm.registerForm" class="form-horizontal">
                <div class="form-group" ng-class="{'has-feedback has-error': vm.registerForm.userName.$touched && !vm.registerForm.userName.$valid}">
                    <div class="col-xs-4">
                        <label class="control-label">User name</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="input-sm form-control" ng-model="vm.userName" required name="userName"/>
                        <i class="fa fa-exclamation-circle form-control-feedback" ng-if="vm.registerForm.userName.$touched && !vm.registerForm.userName.$valid"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">First name</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="input-sm form-control" type="text" ng-model="vm.firstName" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Last name</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="input-sm form-control" type="text" ng-model="vm.lastName" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Country</label>
                    </div>
                    <div class="col-xs-8">
                        <select class="input-sm form-control" ng-model="vm.country" ng-options="country.name as country.name for country in vm.countries | orderBy : 'name'"></select>
                        <!--<input  type="text"  required/>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Password</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="input-sm form-control" type="password" ng-model="vm.password" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Confirm password</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="input-sm form-control" type="password" ng-model="vm.confirmPassword" required />
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" ng-click="vm.register()" ng-disabled="!vm.registerForm.$valid || vm.password !== vm.confirmPassword">Register</button>
                    <button class="btn btn-sm" ui-sref="home">Cancel</button>
                </div>
            </form>
        </div>
        <!--<div class="col-md-6">
            <div class="well">
                <span class="fa fa-map-marker"></span>
                <span>A map comes here</span>
                <ld-map>

                </ld-map>
            </div>
        </div>-->
    </div>
</div>