<div>
    <div class="jumbotron">
        Chat
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            Users
            <!--Users-->
        </div>
        <div class="col-xs-9 col-md-10">
            <div class="row">
                <div class="col-xs-12">
                    <textarea name="Chat" id="" cols="25" rows="20" class="form-control" ng-model="vm.chatText" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" ng-model="vm.message"/>
                </div>
                <div class="col-xs-1">
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="vm.send()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>