<header class="mdl-layout__header">
    <div class="mdl-layout__drawer-button" role="button">
        <i class="fa fa-ellipsis-v"></i>
    </div>
    <div class="mdl-layout__header-row">
        <a class="mdl-layout-title" ui-sref="home" ui-sref-active="active">
            <span class="fa fa-map-marker"></span> 9
        </a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation" ng-show="vm.currentUser">
            <a ui-sref="inbox" class="mdl-navigation__link">
                <i class="fa fa-envelope fa-adjust"></i>
                <span class="badge">{{vm.unread}}</span>
            </a>
            <a ui-sref="users" class="mdl-navigation__link" ng-if="vm.currentUser.isAdmin()">Users admin</a>
            <a ui-sref="profile" class="mdl-navigation__link">Profile</a>
            <a ng-click="vm.signout()" class="mdl-navigation__link">Sign out</a>
        </nav>
    </div>
</header>