<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home" ui-sref-active="active">
                <span class="fa fa-map-marker"></span> 9
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right" ng-show="vm.currentUser">
            <li>
                <a ui-sref-active ui-sref="inbox">
                    <i class="fa fa-envelope fa-adjust"></i>
                    <span class="badge">{{vm.unread}}</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    {{vm.currentUser.username}}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li ng-if="vm.currentUser.isAdmin()">
                        <a ui-sref="users">Users admin</a>
                    </li>
                    <li>
                        <a ui-sref="profile">Profile</a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.signout()">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>