<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <span class="fa fa-map-marker"></span> 9
            </a>
        </div>

        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav ">
                <li>
                    <a ui-sref="login"><span class="fa fa-user-secret"></span> Log in</a>
                </li>
                <li>
                    <a ui-sref="register"><span class="fa fa-user"></span> Register</a>
                </li><li>
                    <a ui-sref="overview"><span class="fa fa-users"></span> Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>