<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
    <md-list>
        <md-list-item ng-if="!vm.currentUser" ui-sref-active="active">
            <md-button>
                <a ui-sref="login"><span class="fa fa-user-secret"></span> Log in</a>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="!vm.currentUser" ui-sref-active="active">
            <md-button>
                <a ui-sref="register"><span class="fa fa-user"></span> Register</a>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="vm.currentUser" ui-sref-active="active">
            <md-button>
                <a ui-sref="overview"><span class="fa fa-users"></span> Users</a>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="vm.currentUser" ui-sref-active="active">
            <md-button>
                <a ui-sref="chat"><span class="fa fa-smile-o"></span> Chat</a>
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>