@import "colors";
@facebook-blue:#3a5795;


.ld-flag {
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.normal {
    fill: #808080;
}
.same-country{
    color:#2AD0B8;
}

.login-control{
    margin:5px 0;
}

.well.login{
    background-color:white;
}

.btn-facebook{
    background-color:@facebook-blue;
    color:white;
}